html {
	/*height: 100%;*/

}
/*h5, h6, p {
	font-family: "STHeiti-light", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	font-weight: lighter;
}*/

h1, h2, h3, h4, h5, h6, a, button, span {
	color: white;
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

/*.font-fzxy {
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	font-weight: normal;
}

.font-fz11 {
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	font-weight: normal;
}

.font-zzlh {
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	font-weight: normal;
}*/

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-image: url(../src/bg.jpg);
	background-repeat:no-repeat;
	background-position:center 0;
	background-size:cover;
	/*background-size:35% 100%;*/
	color: white;
	/*margin-bottom: 6%;*/
}

#main-content {

}

#blur-bg {
	background-image: url(../src/bg-blur.jpg);
	background-repeat:no-repeat;
	background-position:center 0;
	background-size:cover;
}

.ajk-page {
	display: none;
	position: relative;
	height: 100%;
	/*width: 100%;*/
	/*left: 0;*/
	/*top: 0;*/
	margin: 0;
	padding: 0;
	padding-bottom: 10%;
}

/******************** home page ********************/
#home-page-container {
	padding-top: 30%;
	padding-bottom: 10%;

}

#home-page-title-container {
	/*position: relative;*/
	/*margin-top: 30%;*/
	margin-bottom: 28%;
}

#home-page-title {
	width: 90%;
	float: right;
}

#home-button-container {
	position: relative;
}

#home-button {
	width: 13%;
}

/******************** question page ********************/
#question-page-container {
	padding-top: 18%;
	padding-bottom: 10%;
}

#question-container {
	border: 2px solid rgba(0, 0 , 0, 0.1);
	border-radius: 0.8em;
	margin: 0% 10%;
	padding: 1%;
	padding-left: 0.5%;
	padding-right: 2%;
	position: relative;
}

#question-lists {
	margin: 0;
	padding: 0;
	position: relative;
}

#question-lists h4 {
	color: white;
	margin: 0;
	padding: 0;
}

#question-lists li {
	margin: 1%;
	padding: 0;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 0.8em;
}

#question-lists .question-li {
	padding: 20% 0;
	background-color: rgba(255, 255, 255, 0.4);
}

#question-lists .question-li .question-content {
	font-size: 1.5em;
}

#question-lists .answer-li {
	padding: 8%;
}

#question-lists .answer-li .answer-number{
	float: left;
	font-size: 1.5em;
	width: 15%;
}

#question-lists .answer-li .answer-content{
	float: left;
	padding-top: 3%;
	width: 85%;
}

.answer-content-twoLine {
	margin-top: 0.8em !important;
}

/******************** type page ********************/

#type-page-container {
	padding-top: 2%;
}

#type-page-title-container {
	/*margin-top: 12%;*/
	margin-bottom: 2%;
}

#type-page-title {

	width: 90%;
}

#type-page-score-container {
	margin-bottom: 3%;
}

#type-page-score-container img {
	width: 100%;
	height: auto;
	margin-top: -4%;
}

#type-page-score-container h4, #type-page-score-container h5{
	margin: 0;
	color: white;
	margin-top: -1%;
}

#type-page-score-container #type-page-character-title {
	margin-top: -3%;
}

#radar-canvas-container {
	margin-top: -5%;
}

#radar-canvas {
	/*width: 70% !important;*/
	/*height: 70% !important;*/
}

#type-page-advice-container {
	background-color: rgba(255,255,255,0.25);
	margin-top: 0%;
	margin-bottom: 2%;

	padding: 1.5% 0.5%;
}

#type-page-advice {
	color: white;
	margin: 0;
	font-size: 1.5em;
}

#type-page-button {
	background-color: rgba(255,255,255,0.25);
	border-radius: 0.8em;
	font-size: 1.2em;
}


/******************** already raffle page ********************/
#alreadyraffled-page-container {
	padding-top: 56%;
}

#alreadyraffled-page-title-container {
	/*margin-top: 56%;*/
	/*margin-bottom: 16%;*/
}

#alreadyraffled-page-title-container h1 {
	color: white;

}

#alreadyraffled-button-container {
	padding: 5%;
}

#alreadyraffled-button {
	width: 13%;
}

/******************** raffle nothing page ********************/

#rafflenothing-page-container {
	padding-top: 14%;
}

#rafflenothing-page-result-container {
	/*margin-top: 14%;*/
	padding-bottom: 8%;
}

#rafflenothing-page-result-container div {
	border: 2px solid rgba(255,255,255,0.6);
	border-radius: 0.8em;

	width: 64%;
	margin-left: 18%;
}

#rafflenothing-page-result-container div img{
	/*float: left;*/
	width: 100%;
	padding: 5%;
}

#rafflenothing-page-text-container {

}

#rafflenothing-page-text-container h2 {
	color: white;
	font-size: 1.5em;
	padding: 1% 0;
}

#rafflenothing-page-button-container {
	padding-top: 15%;
}

#rafflenothing-page-button {
	background-color: rgba(255,255,255,0.25);
	border-radius: 0.8em;
	font-size: 1em;

	padding: 2% 8%;
}

/******************** raffle thing page ********************/

#rafflething-page-container {
	padding-top: 14%;
}

#rafflething-page-result-container {
	/*margin-top: 14%;*/
	margin-bottom: 8%;
}

#rafflething-page-result-container div {
	border: 2px solid rgba(255,255,255,0.6);
	border-radius: 0.8em;

	width: 64%;
	margin-left: 18%;
}

#rafflething-page-result-container div img{
	/*float: left;*/
	width: 100%;
	padding: 5%;
}

#rafflething-page-input-container {
	margin-bottom: 2%;
}

#rafflething-page-input-container div{
	margin-left: 10%;
	margin-top: 10%;
	/*width: 50%;*/
}

#rafflething-page-input-container div label{
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 1%;
	/*width: 50%;*/
	float: left;
	color: white;
	font-size: 1.2em;
	/*line-height: 10%;*/
}

#rafflething-page-input {
	float: left;
	width: 50%;
	background-color: rgba(255,255,255,0.4);
	color: white;
	font-size: 1.2em;
	height: 10%;
	padding-left: 7%;
	border-radius: 0.3em;
}

#rafflething-page-button {
	background-color: rgba(255,255,255,0.25);
	border-radius: 0.8em;
	font-size: 1em;

	padding: 2% 8%;
}

/******************** raffle finished page ********************/

#rafflefinished-page-container {
	position: relative;
	/*height: 10%;*/
	padding-top: 40%;
}

#rafflefinished-page-title-container {
	/*margin-top: 40%;*/
	/*margin-bottom: 16%;*/
}

#rafflefinished-page-title-container h1 {
	color: white;

}

#rafflefinished-button-container {
	padding: 5%;
}

#rafflefinished-button {
	width: 13%;
	/*position: absolute;*/
	/*left: 50%;*/
	/*top: 54%;*/
	/*margin-left: -6.5%;*/
}



/******************** share page ********************/

#share-page-container {
	padding-top: 1%;
}

#share-page-title-container {
	/*margin-top: 6%;*/
}

#share-page-title {
	margin: 8px;
}

#share-page-score-container {
	margin-bottom: 3%;
}

#share-page-score {
	margin: 0;
	padding: 0;
}

#share-page-score-container img {
	width: 100%;
	height: auto;
	margin-top: -4%;
}

#share-page-score-container h4, #share-page-score-container h5{
	margin: 0;
	color: white;
	margin-top: -1%;
}

#share-page-score-container #share-page-character-title {
	margin-top: -3%;
}

#share-radar-canvas-container {
	margin-top: -5%;
}

#share-radar-canvas {
	/*width: 100% !important;*/
	/*height: 100% !important;*/
}

#share-page-advice-container {
	background-color: rgba(255,255,255,0.25);
	margin-top: 0%;
	margin-bottom: 2%;
	padding: 2% 0;
}

#share-page-advice {
	color: white;
	margin: 0;
}

#share-page-button-container {
	margin-top: 2%;
	/*margin-bottom: 4%;*/
}

#share-buttons {
	
}

#share-buttons button {
	margin: 2% 8%;
	background-color: rgba(255,255,255,0.25);
	border-radius: 0.8em;
	font-size: 1.2em;
}

/*
#share-next-button {
	width: 13%;
}*/

#sharetip-page-container {
	position: fixed;
	top: 0;
	left: 0;
}

#sharetip-page-container {
	background-color: rgba(0,0,0,0.6);
}

#sharetip-page-container img {
	width: 90%;
	margin: 3%;
	margin-top: 8%;
}

/******************** contact page ********************/

#contact-page-container {
	padding-top: 15%;
}

#contact-page-title-container {
	/*margin-top: 15%;*/
	margin-bottom: 10%;
}

#contact-page-qrcode-container {

}

#contact-page-qrcode-container img {
	width: 50%;
}

#contact-page-intro-container {
	margin-top: 10%;
	margin-bottom: 6%;
}






